<div class="container">
  <div class="row">
    <div class="col_lg_12">
      <table>
        <thead>
          <th>ペットの名前</th>
          <th>ペットについて</th>
          <th>投稿者</th>
        </thead>
        <tbody>
          <% @posts.each do |posts| %>
            <tr>
              <td><%= posts.pet_name %></td>
              <td><%= posts.pet_explanation %></td>
              <td><%= posts.user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
