<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% @genres.each do |genre| %>
        <%= genre.genre_name %><br>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "ジャンル新規作成", new_admin_genre_path %>